@using ForYou.Dtos;
@model List<ContractDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int inProgress = 0;
    int paid = 0;
    int unPaid = 0;
    int total = 0;

}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-default">
                                  Thêm hợp đồng
                    </button>
                    <div class="modal fade" id="modal-default" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <form asp-action="Create" asp-controller="Contract" method="post">
                        <div class="modal-header">
                          <h4 class="modal-title">Thêm hợp đồng</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <label class="form-label">Khách hàng</label>
                                                <input type="text" name="customer" class="form-control">
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <label class="form-label">Hợp đồng số</label>
                                                <input type="text" name="contractNumber" class="form-control">
                                            </div>
                                        </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                          <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                        </form>

                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
      </div>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Simple Tables</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Danh sách hợp đồng</h3>
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <!-- ./card-header -->
                        <div class="card-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr class="text-center">
                                        <th>STT</th>
                                        <th>Hợp đồng</th>
                                        <th>Phụ lục kèm theo</th>
                                        <th>Ký ngày</th>
                                        <th>Khách hàng</th>
                                        <th>Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if(Model != null && Model.Any())
                                    {
                                        @foreach(var contractDto in Model)
                                        {
                                            <tr data-widget="expandable-table" aria-expanded="false">
                                            <td class="text-center">@contractDto.Id</td>
                                            <td><a href="/Contract/Detail?id=@contractDto.Id">@contractDto.ContractNumber</a></td>
                                            <td>
                                                    @if(contractDto.Orders != null && contractDto.Orders.Any())
                                                    {
                                                        int i = 0;
                                                        foreach (var order in contractDto.Orders)
                                                        {
                                                            i++;
                                                            if(i == 1)
                                                            {
                                                                @order.Name
                                                            }
                                                            else
                                                            {
                                                                @(" | " + order.Name)
                                                            }
                                                        }
                                                    }
                                                </td>
                                            <td class="text-center"></td>
                                            <td>@contractDto.Customer</td>
                                            <td class="text-center">
                                                <a class="px-1" href="#"><i class="fas fa-edit"></i></a>
                                                <a class="px-1" href="#"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="expandable-body d-none">
                                            <td colspan="6">
                                                @if (Model != null)
                                                    {
                                                        @foreach (var contract in Model)
                                                        {
                                                            
                                                                    @if (contractDto.Id == contract.Id && contract.Orders != null && contract.Orders.Count > 0)
                                                                    {
                                                                        foreach (var item in contract.Orders)
                                                                        {
                                                                           int n = 0;
                                                                            <div class="d-flex flex-column mb-4" style="font-size: 14px;">
                                                                                <table class="border">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <td colspan="8" class="font-weight-bold bg-danger color-palette">
                                                                                                <span class="px-3">@item.Name</span>
                                                                                                |
                                                                                                 @if (!item.IsPostPaid)
                                                                                                {
                                                                                                    <span class="px-3">Trả trước</span>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <span class="px-3">Trả sau</span>
                                                                                                }
                                                                                                | 
                                                                                                @if (item.PaymentCycle != null)
                                                                                                {
                                                                                                    <span class="px-3">
                                                                                                        Chu kỳ thanh toán: @item.PaymentCycle!.Month tháng/lần
                                                                                                    </span>
                                                                                                } 
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr class="text-center">
                                                                                            <th>STT</th>
                                                                                            <th>Dịch vụ sử dụng</th>
                                                                                            <th>SL</th>
                                                                                            <th>Đơn giá</th>
                                                                                            <th>Thời gian</th>
                                                                                            <th>Từ ngày</th>
                                                                                            <th>Đến ngày</th>
                                                                                            <th>Thành tiền</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>

                                                                                        @foreach (var service in item.OrderDetails)
                                                                                        {
                                                                                            n++;
                                                                                            <tr class="text-center">
                                                                                                <td>@n</td>
                                                                                                <td class="text-left">@service.Name</td>
                                                                                                <td>@service.Quantity</td>
                                                                                                <td class="text-right">@service.Price.ToString("N0").Replace(",", ".") <sup>đ</sup></td>
                                                                                                <td>@service.Month tháng</td>
                                                                                                <td>@service.StartDate.ToString("dd/MM/yyyy")</td>
                                                                                                <td>@service.EndDate.ToString("dd/MM/yyyy")</td>
                                                                                                <td class="text-right">@service.IntoMoney.ToString("N0").Replace(",", ".")<sup>đ</sup></td>
                                                                                            </tr>
                                                                                        }
                                                                                        <tr>
                                                                        <td colspan="7">Tổng chi phí</td>
                                                                        <td class="text-right">@item.PriceService.ToString("N0").Replace(",", ".") <sup>đ</sup></td>

                                                                        </tr>
                                                                        <tr>
                                                                        <td colspan="7">Thuế VAT (10%)</td>
                                                                        <td class="text-right">@item.Tax.ToString("N0").Replace(",", ".") <sup>đ</sup></td>
                                                                        </tr>
                                                                        <tr>
                                                                        <td class="font-weight-bold" colspan="7">Tổng tiền</td>
                                                                        <td class="text-right font-weight-bold">@item.TotalPayment.ToString("N0").Replace(",", ".") <sup>đ</sup></td>
                                                                        </tr>
                                                                       
                                                                       
                                                                                    </tbody>
                                                                                </table>
                                                                                <div class="row pt-4">
                                                                                    <div class="col-md-8">
                                                                                    <div class="card">
                                                                                        <div class="card-header bg-primary color-palette">
                                                                                            <h3 class="card-title">Hóa đơn thanh toán</h3>
                                                                                        </div>
                                                                                        <!-- /.card-header -->
                                                                                        <div class="card-body">
                                                                                            <table class="table table-bordered">
                                                                                    <tr class="text-center">
                                                                                        <th>Số lần TT</th>
                                                                                        <th>Hạn thanh toán</th>
                                                                                        <th>Số tiền</th>
                                                                                        <th>Trạng thái</th>
                                                                                    </tr>
                                                                                    @foreach (var orderBill in item.OrderBills)
                                                                                    {
                                                                                        // Đơn hàng đang sử dụng mà chưa thanh toán
                                                                                        if (!orderBill.Status && orderBill.DatePayment < DateTime.Now)
                                                                                        {
                                                                                            inProgress++;
                                                                                            unPaid++;
                                                                                            total++;
                                                                                            <tr style="color: #ff0000d6;font-weight: bold;">
                                                                                                <td>Thanh toán lần @orderBill.NumberPayment</td>
                                                                                                <td class="text-center">@orderBill.DatePayment.ToString("dd/MM/yyyy")</td>
                                                                                                <td class="text-right">@orderBill.MoneyPayment.ToString("N0").Replace(",", ".") <sup>đ</sup></td>
                                                                                                <td class="text-center">
                                                                                                    @if (@orderBill.Status)
                                                                                                    {
                                                                                                        <span>Đã thanh toán</span>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <span>Chưa thanh toán</span>
                                                                                                    }
                                                                                                </td>
                                                                                            </tr>
                                                                                        }
                                                                                        // Đơn hàng đã sử dụng và đã thanh toán
                                                                                        else if (orderBill.Status && orderBill.DatePayment < DateTime.Now)
                                                                                        {
                                                                                            inProgress++;
                                                                                            paid++;
                                                                                            total++;
                                                                                            <tr style="color: green;font-weight: bold;">
                                                                                                <td>Thanh toán lần @orderBill.NumberPayment</td>
                                                                                                <td class="text-center">@orderBill.DatePayment.ToString("dd/MM/yyyy")</td>
                                                                                                <td class="text-right">@orderBill.MoneyPayment.ToString("N0").Replace(",", ".") <sup>đ</sup></td>
                                                                                                <td class="text-center">
                                                                                                    @if (@orderBill.Status)
                                                                                                    {
                                                                                                        <span>Đã thanh toán</span>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <span>Chưa thanh toán</span>
                                                                                                    }
                                                                                                </td>
                                                                                            </tr>
                                                                                        }
                                                                                        // Đơn hàng chưa tới hạn sử dụng
                                                                                        else
                                                                                        {
                                                                                            total++;
                                                                                            <tr>
                                                                                                <td>Thanh toán lần @orderBill.NumberPayment</td>
                                                                                                <td class="text-center">@orderBill.DatePayment.ToString("dd/MM/yyyy")</td>
                                                                                                <td class="text-right">@orderBill.MoneyPayment.ToString("N0").Replace(",", ".") <sup>đ</sup></td>
                                                                                                <td class="text-center">
                                                                                                    @if (@orderBill.Status)
                                                                                                    {
                                                                                                        <span>Đã thanh toán</span>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <span>Chưa thanh toán</span>
                                                                                                    }
                                                                                                </td>
                                                                                            </tr>
                                                                                        }
                                                                                    }
                                                                                </table>
                                                                                        </div>
                                                                                    </div>
                                                                                    <!-- /.card -->

                                                                                </div>
                                                                                
                                                                                <div class="col-md-4">
                                                                                    <div class="card">
                                                                                        <div class="card-header bg-primary color-palette">
                                                                                            <h3 class="card-title">Tiến trình đơn hàng</h3>
                                                                                        </div>
                                                                                        <!-- /.card-header -->
                                                                                        <div class="card-body">
                                                                                            <table class="table table-bordered">
                                                                                                <thead>
                                                                                                    <tr>
                                                                                                        <th style="width: 10px">#</th>
                                                                                                        <th>Trạng thái</th>
                                                                                                        <th>Biểu đồ</th>
                                                                                                        <th style="width: 40px">Tỉ lệ</th>
                                                                                                    </tr>
                                                                                                </thead>
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td>1.</td>
                                                                                                        <td>Đang sử dụng</td>
                                                                                                        <td style="padding-top: 21px;">
                                                                                                            <div class="progress progress-xs">
                                                                                                                <div class="progress-bar progress-bar-primary" id="inProgress_@item.Id"></div>
                                                                                                            </div>
                                                                                                        </td>
                                                                                                        <td><span class="badge bg-primary">@(inProgress*100/total) %</span></td>
                                                                                                         @{
                                                                                                             <script>
                                                                                                                var sample = document.getElementById("inProgress_@item.Id");
                                                                                                                sample.style = "width: @(inProgress*100/total)%";
                                                                                                            </script>
                                                                                                         }
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td>2.</td>
                                                                                                        <td>Đã thanh toán</td>
                                                                                                        <td style="padding-top: 21px;">
                                                                                                            <div class="progress progress-xs">
                                                                                                                <div class="progress-bar bg-success" id="paid_@item.Id"></div>
                                                                                                            </div>
                                                                                                        </td>
                                                                                                        <td><span class="badge bg-success">@(paid*100/total) %</span></td>
                                                                                                        @{
                                                                                                             <script>
                                                                                                                var sample = document.getElementById("paid_@item.Id");
                                                                                                                sample.style = "width: @(paid*100/total)%";
                                                                                                            </script>
                                                                                                         }
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td>3.</td>
                                                                                                        <td>Chưa thanh toán</td>
                                                                                                        <td style="padding-top: 21px;">
                                                                                                            <div class="progress progress-xs progress-striped active">
                                                                                                                <div class="progress-bar bg-danger" id="unPaid_@item.Id"></div>
                                                                                                            </div>
                                                                                                        </td>
                                                                                                        <td><span class="badge bg-danger">@(unPaid*100/total) %</span></td>
                                                                                                        @{
                                                                                                             <script>
                                                                                                                var sample = document.getElementById("unPaid_@item.Id");
                                                                                                                sample.style = "width: @(unPaid*100/total)%";
                                                                                                            </script>
                                                                                                         }
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </div>
                                                                                    </div>
                                                                                    <!-- /.card -->

                                                                                </div>
                                                                                </div>
                                                                        </div>
                                                                            inProgress = 0;
                                                                            paid = 0;
                                                                            unPaid = 0;
                                                                            total = 0;
                                                                        }
                                                                    }
                                                            
                                                        }
                                                    }
                                            </td>
                                        </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#">«</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div






            
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    
</div>
    
     







